/* Colors
light text: #ede0e0
dark text:
brown: #4e390f
*/

/*********** General *****************/
body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #ede0e0;
}

/*********** Reusable Components *********/
h1 {
    word-spacing: 2px;
    font-size: 200%;
    text-align: center;
    font-weight: 700;
    margin: 10px 0;
}

h2 {
    word-spacing: 2px;
    font-size: 120%;
    font-weight: 400px;
}
/********** Header *************/
.logo {
    display: block;
    text-align: right;
    padding: 5%;
}

.logo img {
    width: 15%;
    height: auto;
}


/************** New Account Section ***********/
.sign-log-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.form {
    width: 330px;
    margin: auto;
    height: auto;
}

.form p {
    text-align: center;
}

label {
    margin: 15px 0;
    display: inline-block;
}

input[type=text],
input[type=email],
input[type=password] {
    float: right;
    font-size: 14px;
    margin: 10px 0;
    border-radius: 20px;
    padding: 5px;
}

.submit-btn {
    display: block;
    text-align: center;
    margin: 20px 0;
}

input[type=submit],
button {
    padding: 10px;
    font-size: 14px;
    border-radius: 20px;
    background-color: #4e390f;
    color: #ede0e0;
    width: 200px;
}

input[type=submit]:hover,
input[type=submit]:active,
button:hover,
button:active {
    cursor: pointer;
    background-color: #402d08;
    color: #ede0e0;
    border-color: #402d08;
}

.hide {
    display: none;
}


/************* Credit Section ******************/

.main-interface {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(images/sunflower.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.credit {
    text-align: right;
    margin-right: 10px;
    margin-bottom: 80px;
}

.credit-parent {
    display: grid;
    grid-template-columns: 100px 200px;
    grid-template-rows: 50px 50px;
    grid-template-areas: 
        "header header"
        "dolar credit-box";
    justify-content: end;
}

.credit-parent h2 {
    grid-area: header;
}

.credit-box {
    grid-area: credit-box;
    padding: 10px;
    border: solid 1px #4e390f;
    border-radius: 20px;
    background-color: rgba(237, 224, 224, 0.5);
    color: #262222;
    text-align: right;
    font-weight: 700;
}

.credit-dolar {
    grid-area: dolar;
    font-size: 40px;
    padding: 0 5px 10px 5px;
}

.QR-buttons {
    margin: 40px auto;
    text-align: center;
}

.QR-buttons button {
    display: block;
    margin: 25px auto;
    height: 50px;
}
